<% @students.each do |student| %>
  <div><%= student.first_name %></div>
  <div><%= student.last_name %></div>
<% end %>

<% @school_classes.each do |student| %>
  <div><%= @school_class.title %></div>
  <div><%= @school_class.room_number %></div>
<% end %>
